@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-7 col-xl-5">
        <h1>Register new account</h1>
        <p>To access the Application please register with your details.</p>
        <form asp-controller="Account" asp-action="RegisterSubmit" method="post" novalidate="">
            <div>
                <label asp-for="Email" class="form-label mt-4">Email address</label>
                <input asp-for="Email" class="form-control @ViewData.ValidationClass(model => model.Email)" placeholder="john@doe.com">
                <span asp-validation-for="Email" class="invalid-feedback"></span>
            </div>
            <div>
                <label asp-for="Name" class="form-label mt-4">Name</label>
                <input asp-for="Name" class="form-control @ViewData.ValidationClass(model => model.Name)" placeholder="John doe">
                <span asp-validation-for="Name" class="invalid-feedback"></span>
            </div>
            <div>
                <label asp-for="Password" class="form-label mt-4">Password</label>
                <input asp-for="Password" class="form-control @ViewData.ValidationClass(model => model.Password)" placeholder="*****">
                <span asp-validation-for="Password" class="invalid-feedback"></span>
            </div>
            <div>
                <label asp-for="PasswordRepeat" class="form-label mt-4">Password</label>
                <input asp-for="PasswordRepeat" class="form-control @ViewData.ValidationClass(model => model.PasswordRepeat)" placeholder="*****">
                <span asp-validation-for="PasswordRepeat" class="invalid-feedback"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-4">Submit</button>
        </form>

        @if (string.IsNullOrWhiteSpace(Model.Message) == false)
        {
            <div class="alert alert-danger mt-4" role="alert">
                @Model.Message
            </div>
        }
    </div>
</div>